.clase1{
font-weight: bold;
font-size: xx-large;
 }
 .clase2{
    font-style: italic;
}
#Lunes {
    color: blue;
}
#Martes {
    color: red;
}
#Miercoles {
    color: yellow;
}
#Jueves {
    color: green;
}
#Viernes {
    color: orange;
}
#Sabado {
    color: purple;
}
#Domingo {
    color: blueviolet;
}

.header {
    background-color: #3498db;
    height: 100px;
    width: 100%; 

}

.footer {
    background-color: #34495e;
    height: 60px;
    width: 100%;
}
.form {
    border: 2px solid #d35400;
    padding: 20px;
}
.lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.lista li {
    margin: 0 10px;
}



